

.aboutContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    width: 100%;
    margin: auto; 
    padding: 0 0 100px 0;
}
.aboutMe{
    text-align: left;
    width: 100%;
}
.aboutMe p{
  font-family:  'Lucida Console', Courier New, monospace;
  color: wheat;
  padding: 10px;
}
.aboutMe h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
}
.aboutMe h1{
    font-size: 3rem;
    color: coral;
    margin-bottom: 45px;
    text-align: center;
}
.myImg{
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-right: 100px;
}
.myImg img{
    width: 300px;
    border-radius: 100%;
   
    
}
@media screen and (max-width: 1000px) {
    
    .aboutMe h5{
        font-size: 18px;
    }
    .aboutMe h1{
        font-size: 35px;
    }
    .myImg{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .myImg img{
        width: 200px;
        
    }
}
@media screen and (max-width: 640px) {
    .aboutContainer{
       display: grid;
       grid-template-rows: repeat(2,1fr);
    }
    .aboutMe h5{
        font-size: 18px;
    }
    /* .aboutMe h1{
        font-size: 25px;
    } */
    .myImg{
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-right: 0;
    }
    .myImg img{
        width: 180px;
        
    }
}
