
 .project-card{
    margin: auto;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
   
}
.img{
    width: 100%;
}
.project-title{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 200;
}
.project-description{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 100;
}
.project-tech-stack{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 100;
}
.projectHead{
    text-align: center;
    font-size: 3rem;
    color: coral;
    margin-bottom: 45px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
Button{
    cursor: pointer;
}
@media screen and (max-width:800px){
    .img{
        width: 100%;
    }
    .project-card{
        display: flex;
        flex-direction: column;
    }
    .head{
        font-size: 1.6rem;
        font-weight: 200;
    }
    .txt{
        font-size: 1.3rem;
        font-weight: 100;
    }
}
@media screen and (max-width:600px){
    .head{
        font-size: 1.2rem;
        font-weight: 200;
    }
    .txt{
        font-size: 1rem;
        font-weight: 100;
    }
}