/* .projectContainer{
 width: 80%;
 display: grid;
 grid-template-columns: repeat(2,1fr);
 justify-content: center;
 margin: auto;
 align-items: center;
 text-align: center;
 margin-bottom: 100px;
}
.mainProject{
    text-align: center;
   
}
.mainProject h1{
    font-size: 3rem;
    color: coral;
    margin-bottom: 45px;
}
.btnContainer{
    display: flex;
    justify-content: space-between;
}
.btn{
    border-radius: 5px;
}
/* style={{width:"80%",display:"grid",gridTemplateColumns:"rep
    eat(2,1fr)",justifyContent:"center",margin:"auto",alignItems:"center",textAlign:"center",marginBottom:"100px"}} */
/* .project{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
    background-color: 	#2e2c2c;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}
.projectImg{
  width: 100%;
  height: 70%;
}
.projectImg img{
    width: 100%;
}
.projectDescription{
    padding: 10px 0 10px 0;
}
.projectDescription h2{
    font-size: 22px;
}
.projectDescription p{
    font-size: 15px;
}

@media  screen and (max-width: 1000px) {
    .mainProject h1{
        font-size: 35px;
    }
    .projectDescription h1{
    font-size: 22px;
    }
    .projectDescription p{
        font-size: 12px;
        }
     .btn{
        font-size: 12px;
     }   
}
@media  screen and (max-width: 850px) {
    .projectContainer{
       width: 90%;
       display: flex;
       flex-direction: column;
       margin: auto;
       }
      .btn{
        font-size: 10px;
      }
      .card{
         display: flex;
         flex-direction: row;
         
      }
} */ 

.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img{
    width: 50%;
}
.head{
    font-size: 2.2rem;
    font-weight: 200;
}
.txt{
    font-size: 1.7rem;
    font-weight: 100;
}
.projectHead{
    text-align: center;
    font-size: 3rem;
    color: coral;
    margin-bottom: 45px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width:800px){
    .img{
        width: 100%;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .head{
        font-size: 1.6rem;
        font-weight: 200;
    }
    .txt{
        font-size: 1.3rem;
        font-weight: 100;
    }
}
@media screen and (max-width:600px){
    .head{
        font-size: 1.2rem;
        font-weight: 200;
    }
    .txt{
        font-size: 1rem;
        font-weight: 100;
    }
}