* {
    box-sizing: border-box;
    font-family: Outfit,sans-serif;
    margin: 0;
    padding: 0;
}

.mainSkill{
    text-align: center;
}
.mainSkill h1 {
    font-size: 3rem;
    color:coral;
}
.skillContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.logo {
    margin: auto;
    padding: 10%;
}
.nodeJSimg{
    width:200px
}

@media screen and (max-width:1000px){
    .skillContainer{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    .mainSkill h1{
        font-size: 35px;
    }
    .nodeJSimg{
        width:200px
    }
}
@media screen and (max-width:650px){
    .skillContainer{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    .logo {
       padding: 0;
      
    }
        
    .nodeJSimg{
        width:100px
    }
    
}