* {
    box-sizing: border-box;
    font-family: Outfit,sans-serif;
    margin: 0;
    padding: 0;
}
.logo h1{
    font-size: 1.1rem;
}
.mainSkill{
    text-align: center;
}
.mainSkill h1 {
    font-size: 3rem;
    color:coral;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
.skillContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.logo {
    margin: auto;
    /* padding: 10px 10px; */
    box-shadow:coral 0px 8px 24px;
    height: 200px ;
    width: 200px;
    margin-bottom: 20px;
}
.logo img{
    /* margin: auto; */
    padding: 10px 10px;
 
}
.otherSkillImg{
   /* padding: 5%; */
   align-items: center;
   justify-content: center;
    width: 100%;
    height: 75%;
}
.nodeImg{
    /* padding: 5%; */
    height: 75%;
    width: 100%;
}

@media screen and (max-width:1000px){
    .skillContainer{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    .mainSkill h1{
        font-size: 35px;
    }
  
    .logo {
        margin: auto;
        /* padding: 10px; */
        border: 1px solid rgb(255, 80, 118);
        height: 100px ;
        width: 100px;
        margin-bottom: 20px;
    }
    .otherSkillImg{
         padding: 5%;
         width: 100%;
     }
     .nodeImg{
        padding: 5%;
        width: 100%;
    }
}
@media screen and (max-width:650px){
    .skillContainer{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    .logo {
       padding: 0;
      
    }
        
 
    
}