.footer{
    width: 100%;
    padding:  6rem 0;
    background-color: rgb(26, 24, 24);
   
}
.footer h1{
    text-align: center;
    font-size: 3rem;
    color: coral;
    margin-bottom: 45px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.location{
    display: flex;
    margin-bottom: 0.8rem;
}
.location p{
    line-height: 30px;
}
.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.social{
    margin-top: 1rem;
}

h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}
p{
    font-size: 1.2rem;
}
@media screen and (max-width: 1000px) {
    .footer h1{
        font-size: 35px;
    }
    
}

@media screen and (max-width: 640px) {
    .footer{
       right: 0;
       left: 0;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    
}
html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
    .footer{
       right: 0;
       left: 0;
       width:100%;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    
}
