@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
 
} 

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHqNTHqIauynM1MMwy35cw830VUKAg1Wdzbg&usqp=CAU');
  
}


h1,h2, h4, p, a {
  color: rgb(245, 248, 252);
  text-decoration: none;
}
p{
  font-size: 8px;
}
ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: white;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.35;
}